<a href="https://colab.research.google.com/github/PyBeginner1/IndiPowerGenerationRegionPrediction/blob/main/Power_Generation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [166]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler

from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.neural_network import MLPClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier, AdaBoostClassifier, BaggingClassifier

from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score

In [137]:
data = pd.read_csv('/content/power.csv')

In [138]:
data

      index  ... Hydro Generation Estimated (in MU)
0         0  ...                             320.81
1         1  ...                              21.53
2         2  ...                              64.78
3         3  ...                              69.36
4         4  ...                              21.21
...     ...  ...                                ...
4940    305  ...                             351.98
4941    306  ...                              20.28
4942    307  ...                              77.25
4943    308  ...                              93.78
4944    309  ...                              29.96

[4945 rows x 9 columns]

In [139]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4945 entries, 0 to 4944
Data columns (total 9 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   index                                 4945 non-null   int64
 1   Date                                  4945 non-null   object
 2   Region                                4945 non-null   object
 3   Thermal Generation Actual (in MU)     4945 non-null   object
 4   Thermal Generation Estimated (in MU)  4945 non-null   object
 5   Nuclear Generation Actual (in MU)     2967 non-null   float64
 6   Nuclear Generation Estimated (in MU)  2967 non-null   float64
 7   Hydro Generation Actual (in MU)       4945 non-null   float64
 8   Hydro Generation Estimated (in MU)    4945 non-null   float64
dtypes: float64(4), int64(1), object(4)
memory usage: 347.8+ KB

In [140]:
data =data.drop('index', axis = 1)

In [141]:
data.isnull().sum()

Date                                       0
Region                                     0
Thermal Generation Actual (in MU)          0
Thermal Generation Estimated (in MU)       0
Nuclear Generation Actual (in MU)       1978
Nuclear Generation Estimated (in MU)    1978
Hydro Generation Actual (in MU)            0
Hydro Generation Estimated (in MU)         0
dtype: int64

In [142]:
data.describe()

       Nuclear Generation Actual (in MU)  ...  Hydro Generation Estimated (in MU)
count                        2967.000000  ...                         4945.000000
mean                           37.242208  ...                           76.842965
std                            15.883968  ...                           82.043952
min                             0.000000  ...                            0.000000
25%                            26.140000  ...                           23.310000
50%                            30.720000  ...                           50.270000
75%                            46.830000  ...                           95.800000
max                            68.740000  ...                          397.380000

[8 rows x 4 columns]

In [143]:
data.isnull().mean()

Date                                    0.0
Region                                  0.0
Thermal Generation Actual (in MU)       0.0
Thermal Generation Estimated (in MU)    0.0
Nuclear Generation Actual (in MU)       0.4
Nuclear Generation Estimated (in MU)    0.4
Hydro Generation Actual (in MU)         0.0
Hydro Generation Estimated (in MU)      0.0
dtype: float64

In [144]:
data.groupby('Region', as_index = False)['Nuclear Generation Actual (in MU)'].mean()

         Region  Nuclear Generation Actual (in MU)
0       Eastern                                NaN
1  NorthEastern                                NaN
2      Northern                          27.263984
3      Southern                          56.476451
4       Western                          27.986188

In [145]:
data.groupby('Region', as_index = False)['Nuclear Generation Estimated (in MU)'].mean()

         Region  Nuclear Generation Estimated (in MU)
0       Eastern                                   NaN
1  NorthEastern                                   NaN
2      Northern                             31.727947
3      Southern                             47.000243
4       Western                             32.235440

In [146]:
data['Region'].isnull().value_counts()

False    4945
Name: Region, dtype: int64

In [147]:
for column in['Nuclear Generation Actual (in MU)','Nuclear Generation Estimated (in MU)']:
  data[column] = data[column].fillna(data[column].mean())

In [148]:
data

            Date  ... Hydro Generation Estimated (in MU)
0     2017-09-01  ...                             320.81
1     2017-09-01  ...                              21.53
2     2017-09-01  ...                              64.78
3     2017-09-01  ...                              69.36
4     2017-09-01  ...                              21.21
...          ...  ...                                ...
4940  2020-08-01  ...                             351.98
4941  2020-08-01  ...                              20.28
4942  2020-08-01  ...                              77.25
4943  2020-08-01  ...                              93.78
4944  2020-08-01  ...                              29.96

[4945 rows x 8 columns]

In [149]:
data.isnull().sum()

Date                                    0
Region                                  0
Thermal Generation Actual (in MU)       0
Thermal Generation Estimated (in MU)    0
Nuclear Generation Actual (in MU)       0
Nuclear Generation Estimated (in MU)    0
Hydro Generation Actual (in MU)         0
Hydro Generation Estimated (in MU)      0
dtype: int64

In [150]:
data.describe()

       Nuclear Generation Actual (in MU)  ...  Hydro Generation Estimated (in MU)
count                        4945.000000  ...                         4945.000000
mean                           37.242208  ...                           76.842965
std                            12.302839  ...                           82.043952
min                             0.000000  ...                            0.000000
25%                            30.310000  ...                           23.310000
50%                            37.242208  ...                           50.270000
75%                            37.242208  ...                           95.800000
max                            68.740000  ...                          397.380000

[8 rows x 4 columns]

In [151]:
data

            Date  ... Hydro Generation Estimated (in MU)
0     2017-09-01  ...                             320.81
1     2017-09-01  ...                              21.53
2     2017-09-01  ...                              64.78
3     2017-09-01  ...                              69.36
4     2017-09-01  ...                              21.21
...          ...  ...                                ...
4940  2020-08-01  ...                             351.98
4941  2020-08-01  ...                              20.28
4942  2020-08-01  ...                              77.25
4943  2020-08-01  ...                              93.78
4944  2020-08-01  ...                              29.96

[4945 rows x 8 columns]

Creating year & Month Columns

In [152]:
data['Year'] = data['Date'].apply(lambda x: np.int(x[0:4]))
data['Month'] = data['Date'].apply(lambda x: np.int(x[5:7]))

data = data.drop('Date', axis = 1)

In [153]:
data

            Region Thermal Generation Actual (in MU)  ...  Year  Month
0         Northern                            624.23  ...  2017      9
1          Western                          1,106.89  ...  2017      9
2         Southern                            576.66  ...  2017      9
3          Eastern                            441.02  ...  2017      9
4     NorthEastern                             29.11  ...  2017      9
...            ...                               ...  ...   ...    ...
4940      Northern                            669.47  ...  2020      8
4941       Western                          1,116.00  ...  2020      8
4942      Southern                            494.66  ...  2020      8
4943       Eastern                            482.86  ...  2020      8
4944  NorthEastern                             34.42  ...  2020      8

[4945 rows x 9 columns]

Removing commas(makes numeric values into objects)

In [154]:
data['Thermal Generation Actual (in MU)'] = data['Thermal Generation Actual (in MU)'].str.replace(',', '').astype(float)
data['Thermal Generation Estimated (in MU)'] = data['Thermal Generation Estimated (in MU)'].str.replace(',', '').astype('float')

In [155]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4945 entries, 0 to 4944
Data columns (total 9 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Region                                4945 non-null   object
 1   Thermal Generation Actual (in MU)     4945 non-null   float64
 2   Thermal Generation Estimated (in MU)  4945 non-null   float64
 3   Nuclear Generation Actual (in MU)     4945 non-null   float64
 4   Nuclear Generation Estimated (in MU)  4945 non-null   float64
 5   Hydro Generation Actual (in MU)       4945 non-null   float64
 6   Hydro Generation Estimated (in MU)    4945 non-null   float64
 7   Year                                  4945 non-null   int64
 8   Month                                 4945 non-null   int64
dtypes: float64(6), int64(2), object(1)
memory usage: 347.8+ KB

Encoding Labels

In [156]:
encoder = LabelEncoder()

data['Region'] = encoder.fit_transform(data['Region'])

In [157]:
data

      Region  Thermal Generation Actual (in MU)  ...  Year  Month
0          2                             624.23  ...  2017      9
1          4                            1106.89  ...  2017      9
2          3                             576.66  ...  2017      9
3          0                             441.02  ...  2017      9
4          1                              29.11  ...  2017      9
...      ...                                ...  ...   ...    ...
4940       2                             669.47  ...  2020      8
4941       4                            1116.00  ...  2020      8
4942       3                             494.66  ...  2020      8
4943       0                             482.86  ...  2020      8
4944       1                              34.42  ...  2020      8

[4945 rows x 9 columns]

In [158]:
data.dtypes

Region                                    int64
Thermal Generation Actual (in MU)       float64
Thermal Generation Estimated (in MU)    float64
Nuclear Generation Actual (in MU)       float64
Nuclear Generation Estimated (in MU)    float64
Hydro Generation Actual (in MU)         float64
Hydro Generation Estimated (in MU)      float64
Year                                      int64
Month                                     int64
dtype: object

Splitting Features & target

In [159]:
X = data.drop('Region', axis =1)
Y =data['Region']

Scaling

In [160]:
scaler = StandardScaler()

X = scaler.fit_transform(X)

In [161]:
X

array([[ 5.28080406e-02, -2.37864785e-01, -5.59456520e-01, ...,
         2.97391460e+00, -1.73545914e+00,  6.61947018e-01],
       [ 1.31138889e+00,  1.17108805e+00, -9.81353025e-01, ...,
        -6.74255163e-01, -1.73545914e+00,  6.61947018e-01],
       [-7.12351597e-02,  8.22980515e-03,  2.07190954e+00, ...,
        -1.47045385e-01, -1.73545914e+00,  6.61947018e-01],
       ...,
       [-2.85057788e-01, -4.17022900e-01,  1.99874830e+00, ...,
         4.96168873e-03,  1.67228888e+00,  3.80733272e-01],
       [-3.15827386e-01, -7.39930218e-02,  2.94577078e-14, ...,
         2.06459438e-01,  1.67228888e+00,  3.80733272e-01],
       [-1.48517640e+00, -1.41538332e+00,  2.94577078e-14, ...,
        -5.71494968e-01,  1.67228888e+00,  3.80733272e-01]])

Train & Test split

In [162]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.3, random_state = 2)

In [163]:
X.shape, X_train.shape, X_test.shape

((4945, 8), (3461, 8), (1484, 8))

Model

In [169]:
models = {
          'Logistic Regression' : LogisticRegression(),
          'Neural Network' : MLPClassifier(),
          'Tree' : DecisionTreeClassifier(),
          'Ada Boost' : AdaBoostClassifier(),
          'Bagging Classifier' :BaggingClassifier(),
          'Gradient Boosting' : GradientBoostingClassifier(),
          'Random Forest' : RandomForestClassifier()
}

for name, model in models.items():
  model.fit(X_train, Y_train)
  print(name + ' trained')

Logistic Regression trained
Neural Network trained
Tree trained
Ada Boost trained
Bagging Classifier trained
Gradient Boosting trained
Random Forest trained

In [173]:
results = []
for name, model in models.items():
  result = model.score(X_test, Y_test)
  results.append(result)
  print(name + ' : {:.2f}%'.format(result * 100))

Logistic Regression : 99.66%
Neural Network : 100.00%
Tree : 100.00%
Ada Boost : 60.78%
Bagging Classifier : 100.00%
Gradient Boosting : 100.00%
Random Forest : 100.00%